<h1>Inicio de session</h1>
<p>Hola esta es la pagina de inicio</p>

 <div>
  <a href="/api/session/github"><button>Entrar con github</button></a>
 </div>

<form action="/api/session" method="GET">   
    <button type="submit">Registrarse</button>
  </form>
<form action="/api/session/login" method="GET">   
    <button type="submit">Iniciar sesion</button>
  </form>

  
<form action="/api/session/forgot-password" method="GET">   
    <button type="submit">Me olvide la contra</button>
    </form>