<h2>Pagina principal</h2>
<p>listado de productos</p>
<hr>
<ul>

<h3>Listado de Productos</h3>

{{#each productos}}
<form action="/carrito/{{this.id}}" method="post">
 <li>{{title}} - {{description}}
 <button class="addToCartBtn" data-productid="{{id}}">Agregar al carrito</button>
</form>
{{/each}}
</ul>

 
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

