<h2>Pagina principal</h2>
<p> listado de productos sakhdsja</p>
<hr>
<ul>
{{#each productos}}
 <li>{{description}}<button>agregar al carrito</button></li>
{{/each}}
</ul>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/productos.js"></script>