<h2>Pagina principal</h2>
<p>listado de productos</p>
<hr>
<ul>
{{#each productos}}
 <li>{{description}}
 <button class="addToCartBtn" data-productid="{{id}}">Agregar al carrito</button>
{{/each}}
</ul>
 
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/carritoCliente.js"></script>