<h2>Pagina principal</h2>
<p>listado de productos</p>
<hr>
<ul>
{{#each productos}}
 <li>{{description}}<button>agregar al carrito</button></li>
{{/each}}
</ul>
<input type="text" id="mensaje" placeholder="escribi un msj">
 <div id="mensajes"> </div>
 
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/productos.js"></script>