<h2>Pagina principal</h2>
<p> listado de gastos</p>
<hr>
<ul id="pRO">
{{#each productos}}
 <li>{{description}}<button>agregar al carrito</button></li>
{{/each}}
</ul>




<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/productos.js"></script>